<!DOCTYPE html>
{% load staticfiles %}
<html>
   <head>
      <meta charset="utf-8">
      <title>
         {% block title %}
         {{ title|title }}
         {% endblock %}
      </title>
      {% block css %}
      <link rel="stylesheet" type="text/css" href="{% static
         'css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'
         %}">
      <link rel="stylesheet" href="{% static
         'fonts/font-awesome/css/font-awesome.css' %}">
      {% endblock %}
      {% block js %}
      {% endblock %}
   </head>
   <body>
      <div class="container">
         <div class="login">
            <div class="h2 text-center head">
               Вход в систему
            </div>
            {% block content %}
            {% endblock %}
         </div>
      </div>
   </body>
</html>