{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block content %}
<form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ edit_form.as_p }}
    <input class="form-control" type="submit" value="сохранить">
</form>
<button class="btn btn-round form-control last">
    <a href="{% url 'index' %}" class="">
        на главную
    </a>
</button>
<div class="user_avatar"><img src="/media/{{ user.avatar }}"></div>
{% endblock %}