{% extends 'authapp/base.html' %}
{% load staticfiles %}
{% block content %}
<form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
   {% csrf_token %}
   {{ login_form.as_p }}
   <br>
   <input class="form-control" type="submit" value="войти">
</form>
<button class="btn btn-round form-control">
    <a href="{% url 'auth:register' %}" class="">
        зарегистрироваться
    </a>
</button>
{% endblock %}