{% extends 'master.html' %}
{% load static %}

{% block page_title %}
Goggles Ecommerce Category Bootstrap responsive Web Template | Customer :: w3layouts
{% endblock %}

{% block page_banner %}
		<!-- banner -->
		<div class="banner_inner">
			<div class="services-breadcrumb">
				<div class="inner_breadcrumb">

					<ul class="short">
						<li>
							<a href="/">Home</a>
							<i>|</i>
						</li>
						<li>Customers</li>
					</ul>
				</div>
			</div>

		</div>
		<!--//banner -->
{% endblock %}

{% block page_content %}
	<!--// header_top -->
	<!--/404-->
	<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
		<div class="container-fluid">

			<div class="inner-sec-shop px-lg-4 px-3">
				<h3 class="tittle-w3layouts text-center my-lg-4 my-3">Customer says</h3>
				<div class="row">
					<div class="col-lg-3 customer-main">
						<div class="card">
							<div class="card-body">
								<div class="customer-img">
									<img src="{% static "goggles/images/team1.jpg" %}" alt=" " class="img-fluid rounded">
								</div>
								<div class="customer-info text-left py-lg-4 py-2">
									<h4>Customer 1</h4>
									<h6>Lorem ipsum dolor sit</h6>
									<p>Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
									<div class="row  pt-3 mt-3 team-social border-top">
										<h5 class="col-md-4 text-left">Contact</h5>
										<ul class="col-md-8 d-flex justify-content-right social-icons">


											<li>
												<a href="#">
													<i class="fab fa-facebook-f"></i>
												</a>
											</li>
											<li class="mx-3">
												<a href="#">
													<i class="fab fa-twitter"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fab fa-google-plus-g"></i>
												</a>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 customer-main">
						<div class="card">
							<div class="card-body">
								<div class="customer-img">
									<img src="{% static "goggles/images/team2.jpg" %}" alt=" " class="img-fluid rounded">
								</div>
								<div class="customer-info text-left py-lg-4 py-2">
									<h4>Customer 2</h4>
									<h6>Lorem ipsum dolor sit</h6>
									<p>Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros..

									</p>
									<div class="row  pt-3 mt-3 team-social border-top">
										<h5 class="col-md-4 text-left">Contact</h5>
										<ul class="col-md-8 d-flex justify-content-right social-icons">


											<li>
												<a href="#">
													<i class="fab fa-facebook-f"></i>
												</a>
											</li>
											<li class="mx-3">
												<a href="#">
													<i class="fab fa-twitter"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fab fa-google-plus-g"></i>
												</a>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 customer-main">
						<div class="card">
							<div class="card-body">
								<div class="customer-img">
									<img src="{% static "goggles/images/team3.jpg" %}" alt=" " class="img-fluid rounded">
								</div>
								<div class="customer-info text-left py-lg-4 py-2">
									<h4>Customer 3</h4>
									<h6>Lorem ipsum dolor sit</h6>
									<p>Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
									<div class="row  pt-3 mt-3 team-social border-top">
										<h5 class="col-md-4 text-left">Contact</h5>
										<ul class="col-md-8 d-flex justify-content-right social-icons">


											<li>
												<a href="#">
													<i class="fab fa-facebook-f"></i>
												</a>
											</li>
											<li class="mx-3">
												<a href="#">
													<i class="fab fa-twitter"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fab fa-google-plus-g"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 customer-main">
						<div class="card">
							<div class="card-body">
								<div class="customer-img">
									<img src="{% static "goggles/images/team4.jpg" %}" alt=" " class="img-fluid rounded">
								</div>
								<div class="customer-info text-left py-lg-4 py-2">
									<h4>Customer 4</h4>
									<h6>Lorem ipsum dolor sit</h6>
									<p>Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
									<div class="row  pt-3 mt-3 team-social border-top">
										<h5 class="col-md-4 text-left">Contact</h5>
										<ul class="col-md-8 d-flex justify-content-right social-icons">


											<li>
												<a href="#">
													<i class="fab fa-facebook-f"></i>
												</a>
											</li>
											<li class="mx-3">
												<a href="#">
													<i class="fab fa-twitter"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fab fa-google-plus-g"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 customer-main mt-lg-4">
						<div class="card">
							<div class="card-body">
								<div class="customer-img">
									<img src="{% static "goggles/images/team3.jpg" %}" alt=" " class="img-fluid rounded">
								</div>
								<div class="customer-info text-left py-lg-4 py-2">
									<h4>Customer 5</h4>
									<h6>Lorem ipsum dolor sit</h6>
									<p>Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros..</p>
									<div class="row  pt-3 mt-3 team-social border-top">
										<h5 class="col-md-4 text-left">Contact</h5>
										<ul class="col-md-8 d-flex justify-content-right social-icons">


											<li>
												<a href="#">
													<i class="fab fa-facebook-f"></i>
												</a>
											</li>
											<li class="mx-3">
												<a href="#">
													<i class="fab fa-twitter"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fab fa-google-plus-g"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 customer-main mt-lg-4 mt-2">
						<div class="card">
							<div class="card-body">
								<div class="customer-img">
									<img src="{% static "goggles/images/team1.jpg" %}" alt=" " class="img-fluid rounded">
								</div>
								<div class="customer-info text-left py-lg-4 py-2">
									<h4>Customer 6</h4>
									<h6>Lorem ipsum dolor sit</h6>
									<p>Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros..</p>
									<div class="row  pt-3 mt-3 team-social border-top">
										<h5 class="col-md-4 text-left">Contact</h5>
										<ul class="col-md-8 d-flex justify-content-right social-icons">


											<li>
												<a href="#">
													<i class="fab fa-facebook-f"></i>
												</a>
											</li>
											<li class="mx-3">
												<a href="#">
													<i class="fab fa-twitter"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fab fa-google-plus-g"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//404-->
{% endblock %}